<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Myzcare Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>20/07/27 07:34:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AgencyAddPageTest.AgencyAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.AgencyAddPageTest@5383967b]">AgencyAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>20/07/27 07:35:53</td>   <td>74790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AgencyListPageTest.AgencyListPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.AgencyListPageTest@2ac273d3]">AgencyListPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>20/07/27 07:18:23</td>   <td>-975117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Batch837PageTest.Batch837PageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.Batch837PageTest@60c6f5b]">Batch837PageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>20/07/27 07:28:18</td>   <td>-380517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BroadcastNotoficationPageTest.BroadcastNotoficationPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.BroadcastNotoficationPageTest@4e1d422d]">BroadcastNotoficationPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>20/07/27 08:01:34</td>   <td>1615605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CaptureCallAddPageTest.CaptureCallAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.CaptureCallAddPageTest@6f1fba17]">CaptureCallAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>20/07/27 08:02:31</td>   <td>1672149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CaptureCallListPageTest.CaptureCallListPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.CaptureCallListPageTest@185d8b6]">CaptureCallListPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>20/07/27 07:58:38</td>   <td>1439245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CaseManagerAddPageTest.CaseManagerAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.CaseManagerAddPageTest@3e9b1010]">CaseManagerAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>20/07/27 08:00:40</td>   <td>1561258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CaseManagerListPageTest.CaseManagerListPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.CaseManagerListPageTest@6c3708b3]">CaseManagerListPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>20/07/27 07:31:51</td>   <td>-167719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DMAS90FormPageTest.DMAS90FormPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.DMAS90FormPageTest@78c03f1f]">DMAS90FormPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/07/27 07:37:57</td>   <td>198812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DXCodeAddPageTest.DXCodeAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.DXCodeAddPageTest@20398b7c]">DXCodeAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>20/07/27 07:39:12</td>   <td>273937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DXCodeListPageTest.DXCodelistPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.DXCodeListPageTest@6fc6f14e]">DXCodelistPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>20/07/27 07:36:41</td>   <td>122184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DocumentManagementPageTest.DocumentManagementPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.DocumentManagementPageTest@71423665]">DocumentManagementPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>20/07/27 07:42:05</td>   <td>446926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DropdownEditorPageTest.DropdownEditorPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.DropdownEditorPageTest@5abca1e0]">DropdownEditorPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>20/07/27 07:19:10</td>   <td>-928155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EDIFileLogsPageTest.EDIFileLogsPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.EDIFileLogsPageTest@2038ae61]">EDIFileLogsPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>20/07/27 07:20:10</td>   <td>-867938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eligibility270PageTest.Eligibility270PageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.Eligibility270PageTest@3c0f93f1]">Eligibility270PageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>20/07/27 07:29:16</td>   <td>-322804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmployeeBillingreportPageTest.EmployeeBillingreportPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.EmployeeBillingreportPageTest@66480dd7]">EmployeeBillingreportPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>20/07/27 07:30:05</td>   <td>-273331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmployeeVisitreportPageTest.EmployeeVisitreportPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.EmployeeVisitreportPageTest@52a86356]">EmployeeVisitreportPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>20/07/27 07:40:25</td>   <td>347024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacilityAddPageTest.FacilityAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.FacilityAddPageTest@56235b8e]">FacilityAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>20/07/27 07:41:15</td>   <td>396891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacilityListPageTest.FacilityListPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.FacilityListPageTest@3632be31]">FacilityListPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/07/27 07:27:22</td>   <td>-436804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupSMSPageTest.GroupSMSPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.GroupSMSPageTest@3327bd23]">GroupSMSPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>20/07/27 07:30:53</td>   <td>-224996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvoicePageTest.InvoicePageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.InvoicePageTest@5ce81285]">InvoicePageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/07/27 07:21:33</td>   <td>-785680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LatestERAPageTest.LatestERAPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.LatestERAPageTest@31dc339b]">LatestERAPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>20/07/27 07:22:20</td>   <td>-737916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageClaimsPageTest.ManageClaimsTitleTest()[pri:1, instance:com.myezcare.qa.testcases.ManageClaimsPageTest@544fe44c]">ManageClaimsTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>20/07/27 07:55:10</td>   <td>1231606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NoteSentenceAddPageTest.NoteSentenceAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.NoteSentenceAddPageTest@520a3426]">NoteSentenceAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>20/07/27 07:56:29</td>   <td>1310132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NoteSentenceListPageTest.NoteSentenceListPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.NoteSentenceListPageTest@18eed359]">NoteSentenceListPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/07/27 07:43:10</td>   <td>511422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrganizationFormsPageTest.OrganizationFormsPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.OrganizationFormsPageTest@2286778]">OrganizationFormsPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>20/07/27 07:13:48</td>   <td>-1250793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatientCalendarPageTest.PatientCalendarTitleTest()[pri:1, instance:com.myezcare.qa.testcases.PatientCalendarPageTest@10bdf5e5]">PatientCalendarTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>20/07/27 07:14:43</td>   <td>-1195184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatientSchedulePageTest.PatientScheduleTitleTest()[pri:1, instance:com.myezcare.qa.testcases.PatientSchedulePageTest@6e1ec318]">PatientScheduleTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>20/07/27 07:43:59</td>   <td>560482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PayorAddPageTest.PayorAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.PayorAddPageTest@4e9ba398]">PayorAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/07/27 07:44:54</td>   <td>615354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PayorListPageTest.PayorListPageTest()[pri:1, instance:com.myezcare.qa.testcases.PayorListPageTest@6d7b4f4c]">PayorListPageTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>20/07/27 07:17:37</td>   <td>-1021799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PendingSchedulePageTest.PendingSchedulePageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.PendingSchedulePageTest@1e127982]">PendingSchedulePageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/07/27 07:46:08</td>   <td>689635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhysicianAddPageTest.PhysicianAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.PhysicianAddPageTest@527740a2]">PhysicianAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>20/07/27 07:46:59</td>   <td>740318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhysicianListPageTest.PhysicianListPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.PhysicianListPageTest@13a5fe33]">PhysicianListPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="83a2f9">  <td>20/07/27 07:48:13</td>   <td>814282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PreferenceAddPageTest.PreferenceAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.PreferenceAddPageTest@3108bc]">PreferenceAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/07/27 07:49:01</td>   <td>862226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PreferenceListPageTest.PreferenceListPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.PreferenceListPageTest@370736d9]">PreferenceListPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>20/07/27 07:25:37</td>   <td>-541455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReceivedMessagePageTest.ReceivedMessagePageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.ReceivedMessagePageTest@21213b92]">ReceivedMessagePageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>20/07/27 07:24:40</td>   <td>-598770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Reconcile835PageTest.Reconcile835PageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.Reconcile835PageTest@71318ec4]">Reconcile835PageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>20/07/27 07:33:47</td>   <td>-51121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReportPageTest.ReportPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.ReportPageTest@4fe3c938]">ReportPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>20/07/27 07:16:47</td>   <td>-1071797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleLogPageTest.ScheduleLogTitleTest()[pri:1, instance:com.myezcare.qa.testcases.ScheduleLogPageTest@617faa95]">ScheduleLogTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/07/27 07:15:47</td>   <td>-1131472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleMasterPageTest.ScheduleMasterTitleTest()[pri:1, instance:com.myezcare.qa.testcases.ScheduleMasterPageTest@7e0b0338]">ScheduleMasterTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>20/07/27 07:26:34</td>   <td>-484829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SentMessagePageTest.SentMessagePageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.SentMessagePageTest@a67c67e]">SentMessagePageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>20/07/27 07:50:25</td>   <td>946286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceCodeAddPageTest.ServiceCodeAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.ServiceCodeAddPageTest@5f9d02cb]">ServiceCodeAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>20/07/27 07:51:15</td>   <td>996726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServiceCodeListPageTest.ServiceCodeListPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.ServiceCodeListPageTest@63753b6d]">ServiceCodeListPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>20/07/27 07:23:40</td>   <td>-658429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Upload835PageTest.Upload835TitleTest()[pri:1, instance:com.myezcare.qa.testcases.Upload835PageTest@31610302]">Upload835TitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>20/07/27 07:52:33</td>   <td>1074779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisitTaskAddPageTest.VisitTaskAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.VisitTaskAddPageTest@6b09bb57]">VisitTaskAddPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>20/07/27 07:53:54</td>   <td>1155193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisitTaskListPageTest.VisitTaskListPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.VisitTaskListPageTest@6536e911]">VisitTaskListPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>20/07/27 07:32:49</td>   <td>-109068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeeklyTimeSheetPageTest.WeeklyTimeSheetPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.WeeklyTimeSheetPageTest@5ec0a365]">WeeklyTimeSheetPageTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/07/27 07:09:15</td>   <td>-1523833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmployeeCalendarPageTest.employeeCalendarTitleTest()[pri:1, instance:com.myezcare.qa.testcases.EmployeeCalendarPageTest@64bfbc86]">employeeCalendarTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/07/27 07:04:29</td>   <td>-1808976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmployeeListPageTest.employeelistTitleTest()[pri:1, instance:com.myezcare.qa.testcases.EmployeeListPageTest@192b07fd]">employeelistTitleTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 08:03:32</td>   <td>1734103</td> <td title="&lt;&lt;TestBase.endReport()[pri:0, instance:com.myezcare.qa.testcases.LoginPageTest@5649fd9b]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:03:39</td>   <td>-1858970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.LoginPageTest@5649fd9b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:05:34</td>   <td>-1744870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.MyprofilePageTest@6adede5]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:06:34</td>   <td>-1684233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.RolesPermissionPageTest@2d928643]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:08:26</td>   <td>-1572455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.BillingPageTest@49993335]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:11:03</td>   <td>-1415625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.EmployeePTOPageTest@64bf3bbf]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:12:59</td>   <td>-1299333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.PatientListPageTest@dc24521]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:14:43</td>   <td>-1195125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.PatientSchedulePageTest@6e1ec318]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:15:47</td>   <td>-1131392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.ScheduleMasterPageTest@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:16:47</td>   <td>-1071755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.ScheduleLogPageTest@617faa95]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:20:11</td>   <td>-867800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.Eligibility270PageTest@3c0f93f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:21:33</td>   <td>-785658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.LatestERAPageTest@31dc339b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:23:40</td>   <td>-658265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.Upload835PageTest@31610302]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:24:40</td>   <td>-598751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.Reconcile835PageTest@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:25:37</td>   <td>-541337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.ReceivedMessagePageTest@21213b92]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:26:34</td>   <td>-484751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.SentMessagePageTest@a67c67e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:28:18</td>   <td>-380502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.BroadcastNotoficationPageTest@4e1d422d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:29:16</td>   <td>-322503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.EmployeeBillingreportPageTest@66480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:31:51</td>   <td>-167694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.DMAS90FormPageTest@78c03f1f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:32:49</td>   <td>-109053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.WeeklyTimeSheetPageTest@5ec0a365]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:33:47</td>   <td>-51040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.ReportPageTest@4fe3c938]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:35:53</td>   <td>74807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.AgencyListPageTest@2ac273d3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:37:57</td>   <td>199109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.DXCodeAddPageTest@20398b7c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:39:12</td>   <td>273998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.DXCodeListPageTest@6fc6f14e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:43:10</td>   <td>511609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.OrganizationFormsPageTest@2286778]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:46:08</td>   <td>689660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.PhysicianAddPageTest@527740a2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:48:13</td>   <td>814310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.PreferenceAddPageTest@3108bc]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:50:25</td>   <td>946298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.ServiceCodeAddPageTest@5f9d02cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:52:33</td>   <td>1074839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.VisitTaskAddPageTest@6b09bb57]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:53:54</td>   <td>1155360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.VisitTaskListPageTest@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:55:10</td>   <td>1231621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.NoteSentenceAddPageTest@520a3426]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:56:29</td>   <td>1310149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.NoteSentenceListPageTest@18eed359]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 08:01:34</td>   <td>1615648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.CaptureCallAddPageTest@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 08:03:31</td>   <td>1732193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.CaptureCallListPageTest@185d8b6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>20/07/27 07:03:39</td>   <td>-1859076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.myzcareLogoImageTest()[pri:1, instance:com.myezcare.qa.testcases.LoginPageTest@5649fd9b]">myzcareLogoImageTest</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>20/07/27 07:03:18</td>   <td>-1880024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.LoginPageTest@5649fd9b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>20/07/27 07:03:41</td>   <td>-1857521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EmployeeListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.EmployeeListPageTest@192b07fd]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>20/07/27 07:04:29</td>   <td>-1808943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyprofilePageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.MyprofilePageTest@6adede5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/07/27 07:05:35</td>   <td>-1743442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RolesPermissionPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.RolesPermissionPageTest@2d928643]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/07/27 07:06:36</td>   <td>-1682870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OrganizationSettingPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.OrganizationSettingPageTest@5025a98f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>20/07/27 07:07:24</td>   <td>-1634774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BillingPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.BillingPageTest@49993335]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/07/27 07:08:27</td>   <td>-1571045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EmployeeCalendarPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.EmployeeCalendarPageTest@64bfbc86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/07/27 07:09:15</td>   <td>-1523824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PatientAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PatientAddPageTest@148080bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>20/07/27 07:10:05</td>   <td>-1473287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EmployeePTOPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.EmployeePTOPageTest@64bf3bbf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/07/27 07:11:04</td>   <td>-1414264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PatientListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PatientListPageTest@dc24521]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>20/07/27 07:13:00</td>   <td>-1298117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PatientCalendarPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PatientCalendarPageTest@10bdf5e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>20/07/27 07:13:48</td>   <td>-1250789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PatientSchedulePageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PatientSchedulePageTest@6e1ec318]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>20/07/27 07:14:45</td>   <td>-1193743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScheduleMasterPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.ScheduleMasterPageTest@7e0b0338]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>20/07/27 07:15:49</td>   <td>-1129780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScheduleLogPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.ScheduleLogPageTest@617faa95]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>20/07/27 07:16:48</td>   <td>-1070387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PendingSchedulePageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PendingSchedulePageTest@1e127982]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>20/07/27 07:17:37</td>   <td>-1021790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Batch837PageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.Batch837PageTest@60c6f5b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>20/07/27 07:18:23</td>   <td>-975111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EDIFileLogsPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.EDIFileLogsPageTest@2038ae61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>20/07/27 07:19:10</td>   <td>-928152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Eligibility270PageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.Eligibility270PageTest@3c0f93f1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/07/27 07:20:12</td>   <td>-866249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LatestERAPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.LatestERAPageTest@31dc339b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>20/07/27 07:21:34</td>   <td>-784332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageClaimsPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.ManageClaimsPageTest@544fe44c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>20/07/27 07:22:20</td>   <td>-737907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Upload835PageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.Upload835PageTest@31610302]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>20/07/27 07:23:42</td>   <td>-656856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reconcile835PageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.Reconcile835PageTest@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>20/07/27 07:24:41</td>   <td>-597444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ReceivedMessagePageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.ReceivedMessagePageTest@21213b92]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>20/07/27 07:25:38</td>   <td>-540023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SentMessagePageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.SentMessagePageTest@a67c67e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>20/07/27 07:26:35</td>   <td>-483458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GroupSMSPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.GroupSMSPageTest@3327bd23]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>20/07/27 07:27:22</td>   <td>-436801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BroadcastNotoficationPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.BroadcastNotoficationPageTest@4e1d422d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>20/07/27 07:28:19</td>   <td>-379221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EmployeeBillingreportPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.EmployeeBillingreportPageTest@66480dd7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>20/07/27 07:29:17</td>   <td>-321269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EmployeeVisitreportPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.EmployeeVisitreportPageTest@52a86356]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>20/07/27 07:30:05</td>   <td>-273327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InvoicePageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.InvoicePageTest@5ce81285]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>20/07/27 07:30:53</td>   <td>-224990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DMAS90FormPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.DMAS90FormPageTest@78c03f1f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>20/07/27 07:31:52</td>   <td>-166208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WeeklyTimeSheetPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.WeeklyTimeSheetPageTest@5ec0a365]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>20/07/27 07:32:51</td>   <td>-107684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ReportPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.ReportPageTest@4fe3c938]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>20/07/27 07:33:49</td>   <td>-49667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AgencyAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.AgencyAddPageTest@5383967b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>20/07/27 07:34:38</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AgencyListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.AgencyListPageTest@2ac273d3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>20/07/27 07:35:55</td>   <td>76158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DocumentManagementPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.DocumentManagementPageTest@71423665]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>20/07/27 07:36:41</td>   <td>122194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DXCodeAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.DXCodeAddPageTest@20398b7c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>20/07/27 07:37:59</td>   <td>200310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DXCodeListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.DXCodeListPageTest@6fc6f14e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>20/07/27 07:39:14</td>   <td>275286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FacilityAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.FacilityAddPageTest@56235b8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>20/07/27 07:40:25</td>   <td>347029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FacilityListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.FacilityListPageTest@3632be31]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>20/07/27 07:41:15</td>   <td>396896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DropdownEditorPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.DropdownEditorPageTest@5abca1e0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/07/27 07:42:05</td>   <td>446929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OrganizationFormsPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.OrganizationFormsPageTest@2286778]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>20/07/27 07:43:12</td>   <td>513216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PayorAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PayorAddPageTest@4e9ba398]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>20/07/27 07:43:59</td>   <td>560485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PayorListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PayorListPageTest@6d7b4f4c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>20/07/27 07:44:54</td>   <td>615356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PhysicianAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PhysicianAddPageTest@527740a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>20/07/27 07:46:10</td>   <td>691143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PhysicianListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PhysicianListPageTest@13a5fe33]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="83a2f9">  <td>20/07/27 07:46:59</td>   <td>740322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreferenceAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PreferenceAddPageTest@3108bc]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>20/07/27 07:48:14</td>   <td>815613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreferenceListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PreferenceListPageTest@370736d9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>20/07/27 07:49:01</td>   <td>862228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ServiceCodeAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.ServiceCodeAddPageTest@5f9d02cb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>20/07/27 07:50:26</td>   <td>947675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ServiceCodeListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.ServiceCodeListPageTest@63753b6d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>20/07/27 07:51:15</td>   <td>996729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VisitTaskAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.VisitTaskAddPageTest@6b09bb57]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>20/07/27 07:52:35</td>   <td>1076521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VisitTaskListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.VisitTaskListPageTest@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>20/07/27 07:53:55</td>   <td>1156708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NoteSentenceAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.NoteSentenceAddPageTest@520a3426]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>20/07/27 07:55:11</td>   <td>1233076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NoteSentenceListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.NoteSentenceListPageTest@18eed359]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>20/07/27 07:56:30</td>   <td>1311704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CaseManagerAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.CaseManagerAddPageTest@3e9b1010]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>20/07/27 07:58:38</td>   <td>1439249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CaseManagerListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.CaseManagerListPageTest@6c3708b3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>20/07/27 08:00:40</td>   <td>1561263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CaptureCallAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.CaptureCallAddPageTest@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>20/07/27 08:01:35</td>   <td>1616870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CaptureCallListPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.CaptureCallListPageTest@185d8b6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/07/27 07:03:18</td>   <td>-1880606</td> <td title="&gt;&gt;TestBase.setUpSuite()[pri:0, instance:com.myezcare.qa.testcases.LoginPageTest@5649fd9b]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>20/07/27 07:11:03</td>   <td>-1415650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmployeePTOPageTest.verifyEmployeePTOTitle()[pri:1, instance:com.myezcare.qa.testcases.EmployeePTOPageTest@64bf3bbf]">verifyEmployeePTOTitle</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>20/07/27 07:08:26</td>   <td>-1572480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BillingPageTest.verifyInvoiceListTitle()[pri:1, instance:com.myezcare.qa.testcases.BillingPageTest@49993335]">verifyInvoiceListTitle</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>20/07/27 07:05:33</td>   <td>-1744971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyprofilePageTest.verifyMyprofilePageLabel()[pri:1, instance:com.myezcare.qa.testcases.MyprofilePageTest@6adede5]">verifyMyprofilePageLabel</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/07/27 07:07:24</td>   <td>-1634782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrganizationSettingPageTest.verifyOrganizationSettingLabel()[pri:1, instance:com.myezcare.qa.testcases.OrganizationSettingPageTest@5025a98f]">verifyOrganizationSettingLabel</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/07/27 07:10:05</td>   <td>-1473294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatientAddPageTest.verifyPatientAddLabel()[pri:1, instance:com.myezcare.qa.testcases.PatientAddPageTest@148080bb]">verifyPatientAddLabel</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>20/07/27 07:11:59</td>   <td>-1359361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatientListPageTest.verifyPatientListLabel()[pri:1, instance:com.myezcare.qa.testcases.PatientListPageTest@dc24521]">verifyPatientListLabel</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/07/27 07:06:34</td>   <td>-1684493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RolesPermissionPageTest.verifyRolePermiisionLabel()[pri:1, instance:com.myezcare.qa.testcases.RolesPermissionPageTest@2d928643]">verifyRolePermiisionLabel</td> 
  <td>main@842326585</td>   <td></td> </tr>
</table>
