<h2>Methods that were not run</h2><table>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.setUpSuite</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
<tr><td>com.myezcare.qa.base.TestBase.endReport</td></tr>
</table>