<h2>Reporter output</h2><table><tr><td>Setting Up the report and Test is getting ready</td></tr>
<tr><td>Setting is done-Test can be started</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
<tr><td>Trying to start browser and getting application ready</td></tr>
<tr><td>Browser and application is Up and running.</td></tr>
<tr><td>Test is about to end</td></tr>
<tr><td>Test is completed>>>>Reports Generated</td></tr>
</table>