<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9cb5">  <td>20/06/11 00:37:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.myezcare.qa.testcases.LoginPageTest@46d56d67]">loginTest</td> 
  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/06/11 00:35:02</td>   <td>-168752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.myzcareLogoImageTest()[pri:1, instance:com.myezcare.qa.testcases.LoginPageTest@46d56d67]">myzcareLogoImageTest</td> 
  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/06/11 00:34:41</td>   <td>-189679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.LoginPageTest@46d56d67]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>20/06/11 00:35:03</td>   <td>-167941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyprofilePageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.MyprofilePageTest@d8355a8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>20/06/11 00:36:13</td>   <td>-98108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OrganizationSettingPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.OrganizationSettingPageTest@59fa1d9b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/06/11 00:37:32</td>   <td>-18942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.LoginPageTest@46d56d67]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>20/06/11 00:37:52</td>   <td>1443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyprofilePageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.MyprofilePageTest@d8355a8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/06/11 00:35:02</td>   <td>-168678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.myezcare.qa.testcases.LoginPageTest@46d56d67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>20/06/11 00:36:12</td>   <td>-98873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyprofilePageTest.tearDown()[pri:0, instance:com.myezcare.qa.testcases.MyprofilePageTest@d8355a8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>20/06/11 00:37:31</td>   <td>-19698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OrganizationSettingPageTest.tearDown()[pri:0, instance:com.myezcare.qa.testcases.OrganizationSettingPageTest@59fa1d9b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>20/06/11 00:37:51</td>   <td>610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.myezcare.qa.testcases.LoginPageTest@46d56d67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>20/06/11 00:38:54</td>   <td>63315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyprofilePageTest.tearDown()[pri:0, instance:com.myezcare.qa.testcases.MyprofilePageTest@d8355a8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>20/06/11 00:38:49</td>   <td>57869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyprofilePageTest.validateCancelBtn()[pri:2, instance:com.myezcare.qa.testcases.MyprofilePageTest@d8355a8]">validateCancelBtn</td> 
  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>20/06/11 00:36:12</td>   <td>-99016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyprofilePageTest.verifyMyprofilePageLabel()[pri:1, instance:com.myezcare.qa.testcases.MyprofilePageTest@d8355a8]">verifyMyprofilePageLabel</td> 
  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>20/06/11 00:37:31</td>   <td>-19752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrganizationSettingPageTest.verifyOrganizationSetttingLabel()[pri:1, instance:com.myezcare.qa.testcases.OrganizationSettingPageTest@59fa1d9b]">verifyOrganizationSetttingLabel</td> 
  <td>main@239465106</td>   <td></td> </tr>
</table>
