<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bdf5e5">  <td>21/02/23 23:39:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhysicianAddPageTest.PhysicianAddPageTitleTest()[pri:1, instance:com.myezcare.qa.testcases.PhysicianAddPageTest@4493d195]">PhysicianAddPageTitleTest</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>21/02/23 23:39:38</td>   <td>3649</td> <td title="&lt;&lt;TestBase.endReport()[pri:0, instance:com.myezcare.qa.testcases.PhysicianAddPageTest@4493d195]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>21/02/23 23:39:38</td>   <td>3462</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.getResult(org.testng.ITestResult)[pri:0, instance:com.myezcare.qa.testcases.PhysicianAddPageTest@4493d195]">&lt;&lt;getResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>21/02/23 23:37:19</td>   <td>-135525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PhysicianAddPageTest.setUp()[pri:0, instance:com.myezcare.qa.testcases.PhysicianAddPageTest@4493d195]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>21/02/23 23:37:18</td>   <td>-136135</td> <td title="&gt;&gt;TestBase.setUpSuite()[pri:0, instance:com.myezcare.qa.testcases.PhysicianAddPageTest@4493d195]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
</table>
